-----BEGIN CERTIFICATE-----
MIIDhDCCAmygAwIBAgIQPgOxM8Rzs7VBV7kGgFgflTANBgkqhkiG9w0BAQsFADBK
MRQwEgYKCZImiZPyLGQBGRYEY29ycDEaMBgGCgmSJomT8ixkARkWCmJyYXNpbHBy
ZXYxFjAUBgNVBAMTDUJSQVNJTFBSRVYtQ0EwHhcNMTgwMzI2MTkyNzU1WhcNMzgw
MzI2MTkzNzU0WjBKMRQwEgYKCZImiZPyLGQBGRYEY29ycDEaMBgGCgmSJomT8ixk
ARkWCmJyYXNpbHByZXYxFjAUBgNVBAMTDUJSQVNJTFBSRVYtQ0EwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQDO1farkt5fpAS1GWhEkK/PMK7lwzAupL7t
nEsI7Np/Rzspwu7UQBPV1D90T9JaCrwfRQKpLChTxTmASZwdtGiItNFBRH1H1khI
xKXk/7mmUP70sBmbQwm5vGFGVEdSFDeChoyX27QhMgKckVX6nluyNJzEH3ksQHLf
HXI1ALav3x7kHuorkZZNALP+kz+Y44jm8E0+EvHrBfIzDBy7W4C50OLNnAekagSC
Yy/Zb6pzIZcdu+M1sCSR0zL8hWjQHqrJvUzuwe/CZ3f8KZvsLU6eIExO6WDV/+sF
RDW7Z1WU5OOcLIGAsZKgHoMnEoVMDrbeGK9LJtKKK1l+SiuDaCPXAgMBAAGjZjBk
MBMGCSsGAQQBgjcUAgQGHgQAQwBBMAsGA1UdDwQEAwIBhjAPBgNVHRMBAf8EBTAD
AQH/MB0GA1UdDgQWBBQ3CNfbA9nlUPYoU7lJfsBDu/5XMjAQBgkrBgEEAYI3FQEE
AwIBADANBgkqhkiG9w0BAQsFAAOCAQEAQfBnwCibcMH2BJ0hyrnDmRIznJhatmFv
N8mPxdlx8kHb0I+nygQ451dD7P6MbjkRL3erRrX8PylGyRhWURxfO/LHmGa02qtY
9cjOOj8l2kArD5cDwEyL8j4+Pe14fuzT55vMve1TlHcKIXyFv3aaHc1iIvb3hoyX
bLKlgshI0wNBivvJLu+PgxTKkEBXiPCDedFI00Ylm+EeByIhnjZLMTNj0Vf9TlU2
USxIO7iYnXXOchuW9PZyQmCQG50GpquHLNbFWB9/+3GuAdbwijribxwqpVuonzzQ
AaIogbcKmpyabvKdJeq03GINkFc41e0wwNZEQ8khtsDQ5sAjN5eoyw==
-----END CERTIFICATE-----
